.papercheckboxContainer {
    display: inline-block;
}

.papercheckbox {
  position: absolute;
  opacity: 0;
  z-index:1;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0px;
}
.papercheckbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.papercheckbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 3px;
  transition: all ease 300ms;
  border: solid 1px #eee;
}

.papercheckbox:checked + label.primary:before {
  background: #673AB7;
}

.papercheckbox:checked + label.normal:before {
    background: white;
}

.papercheckbox:checked + label.danger:before {
    background: #F44336;
}

.papercheckbox:checked + label.warning:before {
    background: #FFC107;
}

.papercheckbox:checked + label.good:before {
    background: #4CAF50;
}

.papercheckbox:checked + label.normal:after {
    box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
}

.papercheckbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.papercheckbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.papercheckbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}