.switchCheckbox {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

.switchTrack {
  --simple-switch_size: 30px;
  font-size: inherit;
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  background: #ccc;
  border-radius: 20px;
  padding: 0 calc((20px * 1.25) - 10px) 0 0;
  border: 2px solid #ccc;
  transition: background 250ms ease-out;
  outline: none;
  box-sizing: padding-box;
  cursor: pointer;
}
.switchTrack.primary.on, .switchTrack.on, .switchTrack.normal.on {
  background: #673AB7;
  border: 2px solid #673AB7;
}

.switchTrack.danger.on {
  background: #F44336;
  border: 2px solid #F44336;
}

.switchTrack.warning.on {
  background: #FFC107;
  border: 2px solid #FFC107;
}

.switchTrack.good.on {
  background: #4CAF50;
  border: 2px solid #4CAF50;
}

.switchTrack.on .handle {
  transform: translateX(calc((20px * 1.25) - 10px));
}

.switchTrack.focus {
  border: 2px solid #03A9F4;
}
.switchTrack .handle {
  width: calc(10px);
  height: calc(10px);
  border-radius: 20px;
  background: #fff;
  display: block;
  transition: transform 250ms ease-out;
}
